/**
 * @name ProfileFixes
 * @version 1.0.0.0
 * @description Removes/Fixes/Updates Profile Related Stuff
 * @author Thororen
 */

.custom-profile-theme [class^=statusBubble_] {
    background-color: var(--profile-gradient-primary-color);
}

.custom-profile-theme [class^=statusBubbleOuter_]:before {
    background-color: var(--profile-gradient-primary-color);
}

.custom-profile-theme [class^=statusBubbleOuter_]:after {
    background-color: var(--profile-gradient-primary-color);
}